{% extends "base.html" %}

{% block content %}
<div class="card">
    <form action="http://127.0.0.1:8000/login/" method="post">
        <h2>Войти</h2>
        <p>Введите ваши учётные данные для входа на сайт</p>
        <input type="text" name="login" placeholder="логин..." required>
        <input type="password" name="password" placeholder="пароль..." required>
        <a href="http://127.0.0.1:8000/register/">нет учётной записи?</a>
        <button type="submit">Войти</button>
    </form>
</div>
{% endblock %}